<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Fb Login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.311004442185-ev6am2pcrj1ahqvhij8sgc9mdm7u7djt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>41</string>
	<key>FacebookAppID</key>
	<string>1490848418243027</string>
	<key>FacebookClientToken</key>
	<string>e6f21988641844181d61697c3eaec803</string>
	<key>FacebookDisplayName</key>
	<string>Whatyapp</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://185.28.22.219:8006</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires camera access to allow you to take photos or scan content.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses your location while in use to provide location-based features or services.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app uses your location even when not in use to support background location tracking.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show nearby businesses and help you easily discover local services in your area.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to record audio for voice input.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to upload or select existing images so you can add them to WhatYap.</string>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
